.headerContainer{
	display:flex;
	flex-direction:row;
}

.headerItem {
	padding:10px;
	margin-left:10px;
	margin-right:10px;
	text-decoration: none;
	line-height:50px;
	color:white;
	font-size: 20px;
}

.headerItem a {
	text-decoration: none;
}

.headerItem:hover{
	cursor:pointer;
	background-color: rgb(169,169,169);
	color:black;
}

.headerLogo{
	background-image: url("../img/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center left;
	max-width:200px;
	min-width:200px;
	margin:10px;
	cursor:pointer;
}

#mobileSidebarButton{
	display:none;
}

@media only screen and (max-width: 600px){
	#mobileSidebarButton{
		display:inherit;
	}

}
