<div ui-sref="home" class="headerLogo" >
</div>
<div class="headerContainer">
	<div ui-sref="about" class="headerItem">
		About
	</div>
	<div ui-sref="contacts" class="headerItem">
		Contacts
	</div>
	<div ui-sref="login" class="headerItem">
		Login
	</div>
</div>
<div id="mobileSidebarButton" class="headerContainer">
	<div class="headerItem">
		<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
	</div>
</div>
