#loginModal {
	display:flex;
	width:500px;
	--height:400px;
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	flex-direction:column;
	justify-content: space-between;
	padding:10px;
}

.loginFormTitle{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}
.socialLoginButton{
	display:flex;
	flex-direction:row;
	border:1px solid black;
	padding:5px;
	margin-bottom:5px;
	justify-content: space-between;
	cursor:pointer;
	border-radius:5px;
}
.socialIcon{
	padding:5px;
	display:flex;
	flex: 0 0 30px;
	border-right: 1px solid black;
	height: 70%;
}
.socialTitle{
	padding:5px;
	display:flex;
	flex: 1 0 auto;
	justify-content: center;
	font-size: 15px;
}

.separator{
	border-bottom:1px solid black;
	margin:10px;
}

.formInput{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;

}
.formInput i{
	display:flex;
	justify-content: center;
	flex:0 0 48px;
	justify-content: center;
}

.formInput input{
	flex: 1 0 auto;
	border:none;
	border-bottom: 1px solid black;
	padding:5px;
}
