<div id="loginModal">
  <div class="loginFormTitle">
    <h1> Log in </h1>
    <p> <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i> </p>
  </div>

  <div>
    <form>
      <p class="formInput">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        <input type="text" name="username" placeholder="Insert your username"/>
      </p>
      <p class="formInput">
        <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
        <input type="password" name="password" placeholder="Insert your password"/>
      </p>
    </form>
  </div>
  <div ng-click="$loginCtrl.showSocialLogin()">
    <p ng-if="!$loginCtrl.socialLogin"><i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i> Show more login options</p>
    <p ng-if="$loginCtrl.socialLogin"><i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i> Show less login options</p>
  </div>
  <div class="socialLoginContainer" ng-if="$loginCtrl.socialLogin">
    <div class="socialLoginButton">
      <div class=socialIcon>
        <p><i class="fa fa-google fa-2x" aria-hidden="true"></i></p>
      </div>
      <div class=socialTitle>
        <p>Login with Google</p>
      </div>
    </div>
    <div class="socialLoginButton">
      <div class=socialIcon>
        <p><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></p>
      </div>
      <div class=socialTitle>
        <p>Login with Facebook</p>
      </div>
    </div>
  </div>
</div>
