<div class="footerItem">
    <p> © 2017 Copyright tmMaison </p>
</div>
<div class="footerItem">
    <div>
        <p><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></p>
    </div>
    <div>
        <p><i class="fa fa-gitlab fa-2x" aria-hidden="true"></i></p>
    </div>
    <div>
        <p><i class="fa fa-github fa-2x" aria-hidden="true"></i></p>
    </div>
    <div>
        <p><i class="fa fa-slack fa-2x" aria-hidden="true"></i></p>
    </div>
</div>
