.footerItem{
	display:flex;
	flex-direction: row;
	color:white;
	text-decoration: none;
}

.footerItem div{
	padding-left:10px;
	padding-right:10px;
}

.footerItem div:hover{
	cursor:pointer;
	background-color: rgb(169,169,169);
	color:black;
}
