html, body {
    font-size: 90% !important;
    height:100vh;
    width:100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    color: #444;
    margin: 0;
    padding: 0;
}

header-component {
	order:1;
	display:flex;
	flex-direction:row;
	flex: 0 1 auto;
	justify-content: space-between;
	align-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index:1000;
	background-color: rgb(64,64,64);
}
body-component{
	order:2;
	display:flex;
	flex-direction:row;
	flex:1 0 auto;
}
footer-component{
	order:3;
	display:flex;
	flex-direction:row;
	flex:0 1 auto;
	justify-content: space-between;
	align-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index:1000;
	background-color: rgb(64,64,64);
	color:white;
}
