
header-component {
	order:1;
	display:flex;
	flex-direction:row;
	flex: 0 1 auto;
	justify-content: space-between;
	align-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index:1000;
	background-color: rgb(64,64,64);
}
body-component{
	order:2;
	display:flex;
	flex-direction:row;
	flex:1 0 auto;
}
footer-component{
	order:3;
	display:flex;
	flex-direction:row;
	flex:0 1 auto;
	justify-content: space-between;
	align-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index:1000;
	background-color: rgb(64,64,64);
	color:white;
}

login-component{
	display:flex;
	flex: 1 1 auto;
	flex-direction:column;
	justify-content:center;

}

#loginModal {
	display:flex;
	width:500px;
	--height:400px;
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	flex-direction:column;
	justify-content: space-between;
	padding:10px;
}

.loginFormTitle{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}
.socialLoginButton{
	display:flex;
	flex-direction:row;
	border:1px solid black;
	padding:5px;
	margin-bottom:5px;
	justify-content: space-between;
	cursor:pointer;
	border-radius:5px;
}
.socialIcon{
	padding:5px;
	display:flex;
	flex: 0 0 30px;
	border-right: 1px solid black;
	height: 70%;
}
.socialTitle{
	padding:5px;
	display:flex;
	flex: 1 0 auto;
	justify-content: center;
	font-size: 15px;
}

.separator{
	border-bottom:1px solid black;
	margin:10px;
}

.formInput{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;

}
.formInput i{
	display:flex;
	justify-content: center;
	flex:0 0 48px;
	justify-content: center;
}

.formInput input{
	flex: 1 0 auto;
	border:none;
	border-bottom: 1px solid black;
	padding:5px;
}

map-component{
	display:flex;
	flex: 1 0 auto;
	flex-direction:row;
}

#theMap{
	order:3;
	flex: 1 0 auto;
}

#mapSidebar {
	display:flex;
	flex-direction: column;
	order:2;
	flex:0 0 250px;
	border-right: 1px solid black;
}
#mapSidebarTabs{
	display:flex;
	flex-direction: column;
	order:1;
	flex:0 0 auto;
	border-right: 1px solid black;
	justify-content: space-between;
	padding:10px;

}

.mapTabOpt{
	display:flex;
	flex-direction:column;
	flex: 0 0 30px;
	cursor:pointer;
	margin:auto;
}

#fixedContainer {
	display:flex;
	flex:0 1 auto;
	flex-direction: row;
    background-color:transparent;
    position: absolute;
    padding-bottom: 2em;
    bottom: 0%;
    width:50vw;
    z-index:100000;
    margin:0 auto;
    left:0;
    right:0;

}
#fixedContainer div {
    width:30px;
    height: 20px;


  }

.headerContainer{
	display:flex;
	flex-direction:row;

}
.headerItem {
	padding:10px;
	margin-left:10px;
	margin-right:10px;
	text-decoration: none;
	line-height:50px;
	color:white;
	font-size: 20px;
}

.headerItem a {
	text-decoration: none;
}

.headerItem:hover{
	cursor:pointer;
	background-color: rgb(169,169,169);
	color:black;
}

.headerLogo{
	background-image: url("../img/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center left;
	max-width:200px;
	min-width:200px;
	margin:10px;
	cursor:pointer;
}

.footerItem{
	display:flex;
	flex-direction: row;
	color:white;
	text-decoration: none;
}

.footerItem div{
	padding-left:10px;
	padding-right:10px;
}

.footerItem div:hover{
	cursor:pointer;
	background-color: rgb(169,169,169);
	color:black;
}

#mobileSidebarButton{
	display:none;
}

@media only screen and (max-width: 600px){
	map-component{
		flex-direction: column;
	}
	#theMap{
		order:1;
	}

	#mapSidebar {
		display:flex;
		border-top:1px solid black;
		border-left:none;
		order:2;
		flex:1 0 50px;
		max-width:100vw;
	}

	#mobileSidebarButton{
		display:inherit;
	}

}
