#theMap{
	order:3;
	flex: 1 0 auto;
}

#mapSidebar {
	display:flex;
	flex-direction: column;
	order:2;
	flex:0 0 250px;
	border-right: 1px solid black;
}
#mapSidebarTabs{
	display:flex;
	flex-direction: column;
	order:1;
	flex:0 0 auto;
	border-right: 1px solid black;
	justify-content: space-between;
	padding:10px;

}

.mapTabOpt{
	display:flex;
	flex-direction:column;
	flex: 0 0 30px;
	cursor:pointer;
	margin:auto;
}

#fixedContainer {
	display:flex;
	flex:0 1 auto;
	flex-direction: row;
    background-color:transparent;
    position: absolute;
    padding-bottom: 2em;
    bottom: 0%;
    width:50vw;
    z-index:100000;
    margin:0 auto;
    left:0;
    right:0;

}
#fixedContainer div {
    width:30px;
    height: 20px;


  }

  @media only screen and (max-width: 600px){
  	#theMap{
  		order:1;
  	}

  	#mapSidebar {
  		display:flex;
  		border-top:1px solid black;
  		border-left:none;
  		order:2;
  		flex:1 0 50px;
  		max-width:100vw;
  	}

  }
