<div id="mapSidebarTabs">
	<div id="upperTabs">
		<div class="mapTabOpt" ng-model="$mapCtrl.showSidebar" ng-click="$mapCtrl.toggleSidebar($mapCtrl.showSidebar)">
			<p ng-if="$mapCtrl.showSidebar"><i class="fa fa-caret-square-o-left fa-2x" aria-hidden="true"></i></p>
			<p ng-if="!$mapCtrl.showSidebar"><i class="fa fa-caret-square-o-right fa-2x" aria-hidden="true"></i></p>
		</div>
	</div>
	<div id= bottomTabs>
		<div class="mapTabOpt">
			<i class="fa fa-cog fa-2x" aria-hidden="true"></i>
		</div>
	</div>
</div>
<div id="mapSidebar" class="animate-if" ng-if="$mapCtrl.showSidebar">
	<form>
  		<p><i class="fa fa-cutlery fa-1x" aria-hidden="true"></i>Bakery</p>
		<input id="padariaInput" type="number" name="padaria" min="0" max="1" step="0.25" value={{$mapCtrl.sidebarValues.padaria}} ng-model="$mapCtrl.sidebarValues.padaria" >
  		<p><i class="fa fa-train fa-1x" aria-hidden="true"></i>Train Station:</p>
  		<input id="gareInput" type="number" name="gare" min="0" max="1" step="0.25" value={{$mapCtrl.sidebarValues.gare}} ng-model="$mapCtrl.sidebarValues.gare">
  		<p><i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>Market:</p>
  		<input id="superInput" type="number" name="super" min="0" max="1" step="0.25" value={{$mapCtrl.sidebarValues.super}} ng-model="$mapCtrl.sidebarValues.super">
  		<p><i class="fa fa-money fa-1x" aria-hidden="true"></i>Price:</p>
  		<input id="precoInput" type="number" name="preco" min="0" max="1" step="0.25" value={{$mapCtrl.sidebarValues.preco}} ng-model="$mapCtrl.sidebarValues.preco">

  		<button ng-click="$mapCtrl.onSubmit($mapCtrl.sidebarValues.padaria, $mapCtrl.sidebarValues.gare,$mapCtrl.sidebarValues.super,$mapCtrl.sidebarValues.preco)"> Submit </buttont>
  		<button ng-click="$mapCtrl.onReset()"> Reset </buttont>
	</form>
	<div id="scale"> </div>
</div>
<div id=theMap >
	<div id="fixedContainer" ng-if="$mapCtrl.showInfoSheet"></div>
</div>
